<?xml version="1.0"?>
<robot name="plen" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include Macros -->
  <xacro:include filename="$(find plen_ros)/urdf/plen_macro.xacro" />
    <!-- Include Gazebo File -->
  <xacro:include filename="$(find plen_ros)/urdf/plen.gazebo.xacro" />
  
  <!-- Robot description -->
  <!-- Links -->
  <link name="base_footprint"/>

  <!-- TORSO -->
  <mesh_link name="torso"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0/8000} ${0} ${0/2000}"
              mass="${43.968/1000}"
              ixx="${43.968*(45*45+75*75)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${43.968*(45*45+75*75)/(12*1000000000)}" iyz="${0}"
              izz="${43.968*(45*45+48*48)/(12*1000000000)}"
              c_xyz="${0/8000} ${0} ${0/2000}"
              size="${45/1000} ${48/1000} ${75/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/torso.stl"
              meshscale="0.001 0.001 0.001" /> <!-- m to mm -->

  <mesh_link name="battery"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${15/2000} ${0} ${46/4000}"
              mass="${64/1000}"
              ixx="${64*(11*11+46*46)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${64*(11*11+46*46)/(12*1000000000)}" iyz="${0}"
              izz="${64*(11*11+51*51)/(12*1000000000)}"
              c_xyz="${15/2000} ${0} ${46/4000}"
              size="${11/1000} ${51/1000} ${46/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/battery.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="head"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0/8000} ${0} ${0/2000}"
              mass="${10/1000}"
              ixx="${10*(40*40+40*40)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${10*(40*40+40*40)/(12*1000000000)}" iyz="${0}"
              izz="${10*(40*40+40*40)/(12*1000000000)}"
              c_xyz="${0} ${0} ${0/2000}"
              size="${40/1000} ${40/1000} ${40/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/head.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="rt_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="lt_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="rb_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="lb_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_shoulder"
              origin_rpy="0 0 ${0}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${25/2000}"
              mass="${2.954/1000}"
              ixx="${2.954*(18*18+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${2.954*(18*18+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${2.954*(18*18+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${25/2000}"
              size="${18/1000} ${35/1000} ${25/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/shoulder.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="rs_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_arm"
              origin_rpy="0 0 ${0}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${0/2000}"
              mass="${5.091/1000}"
              ixx="${5.091*(15*15+50*50)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${5.091*(15*15+50*50)/(12*1000000000)}" iyz="${0}"
              izz="${5.091*(15*15+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${0/2000}"
              size="${15/1000} ${35/1000} ${50/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/arm.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="re_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_elbow"
              origin_rpy="0 0 ${0}" origin_xyz="${-13.5/1000} 0 0"
              i_rpy="0 0 0" i_xyz="${-27/4000} ${0} ${0/2000}"
              mass="${3.046/1000}"
              ixx="${3.046*(27*27+14*14)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${3.046*(27*27+14*14)/(12*1000000000)}" iyz="${0}"
              izz="${3.046*(27*27+34*34)/(12*1000000000)}"
              c_xyz="${-27/4000} ${0} ${0/2000}"
              size="${27/1000} ${34/1000} ${14/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/elbow.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_hand"
              origin_rpy="0 0 ${0}" origin_xyz="${0/1000} 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${0/2000}"
              mass="${8.305/1000}"
              ixx="${8.305*(19*19+35*35)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${8.305*(19*19+35*35)/(12*1000000000)}" iyz="${0}"
              izz="${8.305*(19*19+34*34)/(12*1000000000)}"
              c_xyz="${0} ${0} ${0/2000}"
              size="${19/1000} ${34/1000} ${35/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/hand.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_shoulder"
              origin_rpy="0 0 ${0}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${25/2000}"
              mass="${2.954/1000}"
              ixx="${2.954*(18*18+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${2.954*(18*18+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${2.954*(18*18+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${25/2000}"
              size="${18/1000} ${35/1000} ${25/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/shoulder.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="ls_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_arm"
              origin_rpy="0 0 ${0}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${0/2000}"
              mass="${5.091/1000}"
              ixx="${5.091*(15*15+50*50)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${5.091*(15*15+50*50)/(12*1000000000)}" iyz="${0}"
              izz="${5.091*(15*15+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${0/2000}"
              size="${15/1000} ${35/1000} ${50/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/arm.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="le_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_elbow"
              origin_rpy="0 0 ${0}" origin_xyz="${-13.5/1000} 0 0"
              i_rpy="0 0 0" i_xyz="${-27/4000} ${0} ${0/2000}"
              mass="${3.046/1000}"
              ixx="${3.046*(27*27+14*14)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${3.046*(27*27+14*14)/(12*1000000000)}" iyz="${0}"
              izz="${3.046*(27*27+34*34)/(12*1000000000)}"
              c_xyz="${-27/4000} ${0} ${0/2000}"
              size="${27/1000} ${34/1000} ${14/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/elbow.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_hand"
              origin_rpy="0 0 ${0}" origin_xyz="${0/1000} 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${0/2000}"
              mass="${8.305/1000}"
              ixx="${8.305*(19*19+35*35)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${8.305*(19*19+35*35)/(12*1000000000)}" iyz="${0}"
              izz="${8.305*(19*19+34*34)/(12*1000000000)}"
              c_xyz="${0} ${0} ${0/2000}"
              size="${19/1000} ${34/1000} ${35/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/hand.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_hip"
              origin_rpy="${pi} ${0} ${pi}" origin_xyz="${0/1000} ${0/1000} ${0/1000}"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${-18/2000}"
              mass="${2.568/1000}"
              ixx="${2.568*(25*25+18*18)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${2.568*(25*25+18*18)/(12*1000000000)}" iyz="${0}"
              izz="${2.568*(25*25+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${-18/2000}"
              size="${25/1000} ${35/1000} ${18/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/rhip.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_thigh"
              origin_rpy="${0} ${0} ${0}" origin_xyz="${-7.5/1000} ${0} ${-7.5/1000}"
              i_rpy="0 0 0" i_xyz="${-14/2000} ${0} ${14/2000}"
              mass="${40/1000}"
              ixx="${40*(28*28+28*28)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${40*(28*28+28*28)/(12*1000000000)}" iyz="${0}"
              izz="${40*(28*28+28*28)/(12*1000000000)}"
              c_xyz="${-14/2000} ${0} ${14/2000}"
              size="${28/1000} ${28/1000} ${28/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/rthigh.stl"
              meshscale="0.001 0.001 0.001" />
              <!-- og mass: 21.617-->

  <mesh_link name="r_knee"
              origin_rpy="${0} ${0} ${0}" origin_xyz="${0/1000} ${0/1000} ${0/1000}"
              i_rpy="0 0 0" i_xyz="${35/2000} ${-30/2000} ${0/2000}"
              mass="${5.004/1000}"
              ixx="${5.004*(38*38+24*24)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${5.004*(38*38+24*24)/(12*1000000000)}" iyz="${0}"
              izz="${5.004*(38*38+30*30)/(12*1000000000)}"
              c_xyz="${35/2000} ${-30/2000} ${0/2000}"
              size="${38/1000} ${30/1000} ${24/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/rknee.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_knee_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_shin"
              origin_rpy="0 ${0} ${0}" origin_xyz="${16.8/1000} ${0} ${-9.1/1000}"
              i_rpy="0 0 0" i_xyz="${36/2000} ${0} ${8/2000}"
              mass="${6.965/1000}"
              ixx="${6.965*(45*45+23*23)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${6.965*(45*45+23*23)/(12*1000000000)}" iyz="${0}"
              izz="${6.965*(45*45+40*40)/(12*1000000000)}"
              c_xyz="${36/2000} ${0} ${8/2000}"
              size="${45/1000} ${40/1000} ${23/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/rshin.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_ankle"
              origin_rpy="${0} ${0} ${0}" origin_xyz="${0/1000} ${0/1000} ${0/1000}"
              i_rpy="0 0 0" i_xyz="${14/2000} ${-14/2000} ${-28/2000}"
              mass="${40/1000}"
              ixx="${40*(28*28+28*28)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${40*(28*28+28*28)/(12*1000000000)}" iyz="${0}"
              izz="${40*(28*28+28*28)/(12*1000000000)}"
              c_xyz="${14/2000} ${-14/2000} ${-28/2000}"
              size="${28/1000} ${28/1000} ${28/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/rankle.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="r_foot"
              origin_rpy="0 0 ${0}" origin_xyz="${-8.5/1000} 0 ${-19.8/1000}"
              i_rpy="0 0 0" i_xyz="${-37/4000} ${0} ${-9/1000}"
              mass="${15/1000}"
              ixx="${15*(41*41+4*4)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${15*(41*41+4*4)/(12*1000000000)}" iyz="${0}"
              izz="${15*(41*41+62.867*62.867)/(12*1000000000)}"
              c_xyz="${-37/4000} ${0} ${-17/1000}"
              size="${41/1000} ${62.867/1000} ${4/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/rfoot.stl"
              meshscale="0.001 0.001 0.001" /> 

  <mesh_link name="l_hip"
              origin_rpy="${0} ${0} ${pi}" origin_xyz="${0/1000} ${0/1000} ${1/1000}"
              i_rpy="0 0 0" i_xyz="${0} ${0} ${-18/2000}"
              mass="${2.568/1000}"
              ixx="${2.568*(25*25+18*18)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${2.568*(25*25+18*18)/(12*1000000000)}" iyz="${0}"
              izz="${2.568*(25*25+35*35)/(12*1000000000)}"
              c_xyz="${0} ${0} ${-18/2000}"
              size="${25/1000} ${35/1000} ${18/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/lhip.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_thigh"
              origin_rpy="${0} ${pi/2} ${0}" origin_xyz="${0/1000} ${0} ${0/1000}"
              i_rpy="0 0 0" i_xyz="${-28/2000} ${-14/2000} ${-14/2000}"
              mass="${40/1000}"
              ixx="${40*(28*28+28*28)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${40*(28*28+28*28)/(12*1000000000)}" iyz="${0}"
              izz="${40*(28*28+28*28)/(12*1000000000)}"
              c_xyz="${-28/2000} ${-14/2000} ${-14/2000}"
              size="${28/1000} ${28/1000} ${28/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/rankle.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_knee"
              origin_rpy="${0} ${0} ${0}" origin_xyz="${0/1000} ${0/1000} ${0/1000}"
              i_rpy="0 0 0" i_xyz="${35/2000} ${-2/2000} ${0/2000}"
              mass="${5.004/1000}"
              ixx="${5.004*(38*38+24*24)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${5.004*(38*38+24*24)/(12*1000000000)}" iyz="${0}"
              izz="${5.004*(38*38+30*30)/(12*1000000000)}"
              c_xyz="${35/2000} ${-2/2000} ${0/2000}"
              size="${38/1000} ${30/1000} ${24/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/lknee.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_knee_servo"
              origin_rpy="0 0 ${pi}" origin_xyz="0 0 0"
              i_rpy="0 0 0" i_xyz="${0} ${25/4000} ${0/2000}"
              mass="${12/1000}"
              ixx="${12*(12*12+25*25)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${12*(12*12+25*25)/(12*1000000000)}" iyz="${0}"
              izz="${12*(12*12+25*25)/(12*1000000000)}"
              c_xyz="${0} ${25/4000} ${0/2000}"
              size="${12/1000} ${25/1000} ${25/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/servo.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_shin"
              origin_rpy="0 ${0} ${0}" origin_xyz="${-16.9/1000} ${0} ${-9.1/1000}"
              i_rpy="0 0 0" i_xyz="${-36/2000} ${0} ${8/2000}"
              mass="${6.965/1000}"
              ixx="${6.965*(45*45+23*23)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${6.965*(45*45+23*23)/(12*1000000000)}" iyz="${0}"
              izz="${6.965*(45*45+40*40)/(12*1000000000)}"
              c_xyz="${-36/2000} ${0} ${8/2000}"
              size="${45/1000} ${40/1000} ${23/1000}"
              matname="blue_mat"
              rgba="0 0 1 1"
              meshfile="package://plen_ros/meshes/rshin.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_ankle"
              origin_rpy="${0} ${0} ${0}" origin_xyz="${-7.5/1000} ${0/1000} ${-7.5/1000}"
              i_rpy="0 0 0" i_xyz="${-14/2000} ${0/2000} ${14/2000}"
              mass="${40/1000}"
              ixx="${40*(28*28+28*28)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${40*(28*28+28*28)/(12*1000000000)}" iyz="${0}"
              izz="${40*(28*28+28*28)/(12*1000000000)}"
              c_xyz="${-14/2000} ${0/2000} ${14/2000}"
              size="${28/1000} ${28/1000} ${28/1000}"
              matname="green_mat"
              rgba="0 1 0 1"
              meshfile="package://plen_ros/meshes/rthigh.stl"
              meshscale="0.001 0.001 0.001" />

  <mesh_link name="l_foot"
              origin_rpy="0 0 ${0}" origin_xyz="${8.85/1000} 0 ${-14.2/1000}"
              i_rpy="0 0 0" i_xyz="${37/4000} ${0} ${-9/1000}"
              mass="${15/1000}"
              ixx="${15*(41*41+4*4)/(12*1000000000)}" ixy="${0}" ixz="${0}"
              iyy="${15*(41*41+4*4)/(12*1000000000)}" iyz="${0}"
              izz="${15*(41*41+62.867*62.867)/(12*1000000000)}"
              c_xyz="${37/4000} ${0} ${-17/1000}"
              size="${41/1000} ${62.867/1000} ${4/1000}"
              matname="red_mat"
              rgba="1 0 0 1"
              meshfile="package://plen_ros/meshes/lfoot.stl"
              meshscale="0.001 0.001 0.001" />
  
  <!-- Joints -->
  <!-- TORSO -->
  <frame_joint name="base_torso" type="fixed"
                    origin_rpy="0 0 0" origin_xyz="0 0 0"
                    parent="base_footprint" child="torso"/>

  <frame_joint name="torso_batter" type="fixed"
                    origin_rpy="0 0 0" origin_xyz="${-36/1000} 0 ${-12/1000}"
                    parent="torso" child="battery"/>

  <frame_joint name="torso_head" type="fixed"
                    origin_rpy="0 0 0" origin_xyz="${-6.5/1000} 0 ${56/1000}"
                    parent="torso" child="head"/>

  <frame_joint name="torso_rt_servo" type="fixed"
                    origin_rpy="${-pi/2} 0 ${pi}" origin_xyz="${-6.6/1000} ${-22/1000} ${30.8/1000}"
                    parent="torso" child="rt_servo"/>

  <frame_joint name="torso_lt_servo" type="fixed"
                    origin_rpy="${-pi/2} 0 ${0}" origin_xyz="${-6.6/1000} ${22/1000} ${30.8/1000}"
                    parent="torso" child="lt_servo"/>

  <frame_joint name="torso_rb_servo" type="fixed"
                    origin_rpy="${pi} 0 ${pi}" origin_xyz="${-6.6/1000} ${-22.8/1000} ${-24.75/1000}"
                    parent="torso" child="rb_servo"/>

  <frame_joint name="torso_lb_servo" type="fixed"
                    origin_rpy="${pi} 0 ${0}" origin_xyz="${-6.6/1000} ${22.8/1000} ${-24.75/1000}"
                    parent="torso" child="lb_servo"/>

  <!-- RIGHT ARM -->     
  <rev_joint name="torso_r_shoulder" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${pi/2} ${-pi/2} 0" origin_xyz="${-6.6/1000} ${-38/1000} ${30.8/1000}"
                    parent="torso" child="r_shoulder"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>
     
  <rev_joint name="r_shoulder_rs_servo" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${-pi/2} ${pi/2} ${0}" origin_xyz="${-5.35/1000} ${0.6/1000} ${12.65/1000}"
                    parent="r_shoulder" child="rs_servo"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="rs_servo_r_arm" type="fixed"
                    origin_rpy="${-pi/2} 0 ${0}" origin_xyz="${0/1000} ${19.5/1000} ${-2/1000}"
                    parent="rs_servo" child="r_arm"/>

  <frame_joint name="r_arm_re_servo" type="fixed"
                    origin_rpy="${-pi/2} 0 ${0}" origin_xyz="${0/1000} ${2/1000} ${19.5/1000}"
                    parent="r_arm" child="re_servo"/>

  <rev_joint name="re_servo_r_elbow" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${-pi/2} ${0} ${pi/2}" origin_xyz="${0/1000} ${0/1000} ${-1.5/1000}"
                    parent="re_servo" child="r_elbow"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="r_elbow_r_hand" type="fixed"
                    origin_rpy="${pi} ${pi/2} ${0}" origin_xyz="${-30/1000} ${0/1000} ${0/1000}"
                    parent="r_elbow" child="r_hand"/>

  <!-- LEFT ARM --> 
  <rev_joint name="torso_l_shoulder" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${-pi/2} ${-pi/2} ${0}" origin_xyz="${-6.6/1000} ${38/1000} ${30.8/1000}"
                    parent="torso" child="l_shoulder"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>
     
  <rev_joint name="l_shoulder_ls_servo" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${-pi/2} ${pi/2} ${0}" origin_xyz="${-5.35/1000} ${0.6/1000} ${12.65/1000}"
                    parent="l_shoulder" child="ls_servo"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="ls_servo_l_arm" type="fixed"
                    origin_rpy="${-pi/2} 0 ${0}" origin_xyz="${0/1000} ${19.5/1000} ${-2/1000}"
                    parent="ls_servo" child="l_arm"/>

  <frame_joint name="l_arm_le_servo" type="fixed"
                    origin_rpy="${-pi/2} 0 ${0}" origin_xyz="${0/1000} ${2/1000} ${19.5/1000}"
                    parent="l_arm" child="le_servo"/>

  <rev_joint name="le_servo_l_elbow" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${-pi/2} ${0} ${pi/2}" origin_xyz="${0/1000} ${0/1000} ${-1.5/1000}"
                    parent="le_servo" child="l_elbow"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="l_elbow_l_hand" type="fixed"
                    origin_rpy="${pi} ${pi/2} ${0}" origin_xyz="${-30/1000} ${0/1000} ${0/1000}"
                    parent="l_elbow" child="l_hand"/>

  <!-- RIGHT LEG -->
  <rev_joint name="rb_servo_r_hip" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${pi} 0 ${pi/2}" origin_xyz="${0/1000} ${0/1000} ${14.2/1000}"
                    parent="rb_servo" child="r_hip"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="r_hip_r_thigh" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${pi} 0 0" origin_xyz="${5.45/1000} ${-2/1000} ${-12.81/1000}"
                    parent="r_hip" child="r_thigh"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="r_thigh_r_knee" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${pi/2} ${-pi/2} 0" origin_xyz="${-23/1000} ${7.5/1000} ${12.75/1000}"
                    parent="r_thigh" child="r_knee"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="r_knee_knee_servo" type="fixed"
                    origin_rpy="${-pi/2} 0 0" origin_xyz="${28/1000} ${-12.8/1000} ${0.5/1000}"
                    parent="r_knee" child="r_knee_servo"/>

  <rev_joint name="r_knee_r_shin" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="0 0 0" origin_xyz="${28.1/1000} ${-14.6/1000} ${0.45/1000}"
                    parent="r_knee" child="r_shin"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="r_shin_r_ankle" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${-pi/2} ${-pi/2} ${pi}" origin_xyz="${33.75/1000} ${-17/1000} ${0/1000}"
                    parent="r_shin" child="r_ankle"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="r_ankle_r_foot" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${-pi/2} ${-pi/2} 0" origin_xyz="${4.2/1000} ${-12.7/1000} ${-7.4/1000}"
                    parent="r_ankle" child="r_foot"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <!-- LEFT LEG -->
  <rev_joint name="lb_servo_l_hip" type="revolute"
                    axis_xyz="0 0 1"
                    origin_rpy="${pi} 0 ${pi/2}" origin_xyz="${0/1000} ${0/1000} ${14.2/1000}"
                    parent="lb_servo" child="l_hip"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="l_hip_l_thigh" type="revolute"
                    axis_xyz="1 0 0"
                    origin_rpy="${pi/2} ${0} ${pi/2}" origin_xyz="${5.5/1000} ${17/1000} ${-12.65/1000}"
                    parent="l_hip" child="l_thigh"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="l_thigh_l_knee" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${-pi/2} ${0} ${-pi/2}" origin_xyz="${-7.4/1000} ${-12.8/1000} ${-8.6/1000}"
                    parent="l_thigh" child="l_knee"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <frame_joint name="l_knee_knee_servo" type="fixed"
                    origin_rpy="${-pi/2} ${pi} 0" origin_xyz="${28/1000} ${1.45/1000} ${0/1000}"
                    parent="l_knee" child="l_knee_servo"/>

  <rev_joint name="l_knee_l_shin" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="0 ${pi} ${0}" origin_xyz="${28.1/1000} ${-0.2/1000} ${0.45/1000}"
                    parent="l_knee" child="l_shin"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="l_shin_l_ankle" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${pi} ${pi/2} ${0}" origin_xyz="${-33.75/1000} ${-2/1000} ${0/1000}"
                    parent="l_shin" child="l_ankle"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>

  <rev_joint name="l_ankle_l_foot" type="revolute"
                    axis_xyz="0 1 0"
                    origin_rpy="${pi} ${0} ${-pi/2}" origin_xyz="${-4.2/1000} ${7.5/1000} ${12.8/1000}"
                    parent="l_ankle" child="l_foot"
                    effort="100"
                    velocity="100"
                    damping="1"
                    friction="1"/>
</robot>
