<?xml version="1.0"?>
<robot name="plen" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ros_control plugin -->
<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/plen</robotNamespace>
    </plugin>
</gazebo>

<!-- Odometry Publisher plugin -->
<gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <!--<updateRate>50.0</updateRate>--> <!-- Commented so update is as fast as possible - helps with sim reset -->
        <bodyName>torso</bodyName>
        <topicName>plen/odom</topicName>
        <gaussianNoise>0.01</gaussianNoise>
        <frameName>world</frameName>
        <xyzOffsets>0 0 0</xyzOffsets>
        <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
</gazebo>

<!-- IMU sensor -->
<gazebo>
    <plugin name="gazebo_ros_imu_controller" filename="libgazebo_ros_imu.so">
        <robotNamespace>/plen</robotNamespace>
        <topicName>imu/data</topicName>
        <serviceName>imu/service</serviceName>
        <bodyName>torso</bodyName>
        <gaussianNoise>0</gaussianNoise>
        <rpyOffsets>0 0 0</rpyOffsets>
        <!--<updateRate>50.0</updateRate>-->
        <alwaysOn>true</alwaysOn>
        <gaussianNoise>0</gaussianNoise>
    </plugin>
</gazebo>

<gazebo reference="torso">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="battery">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="head">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="rt_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="lt_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="rb_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="lb_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_shoulder">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="rs_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_arm">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="re_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_elbow">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_hand">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_shoulder">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="ls_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_arm">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="le_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_elbow">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_hand">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_hip">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_thigh">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_knee">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_knee_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_shin">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_ankle">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="r_foot">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<!-- Contact Sensor -->
<gazebo reference="rfs_link">
    <material>Gazebo/GreyTransparent</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
    <sensor name="rfs_link_sensor" type="contact">
      <always_on>true</always_on>
      <contact>
        <collision>r_foot_fixed_joint_lump__rfs_link_collision_1</collision>
        <!-- IMPORTANT!!!! 
        above name is based on bug in SDF parser, must be this format.
        Figured it out by saving gazebo world as sdf with robot model loaded
        and then reading the collision name -->
      </contact>
      <plugin name="bumper0_plugin" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>rfoot_rfs_state</bumperTopicName>
        <frameName>rfs_link</frameName>
      </plugin>
    </sensor>
</gazebo>

<gazebo reference="l_hip">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_thigh">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_knee">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_knee_servo">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_shin">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_ankle">
    <material>Gazebo/Orange</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<gazebo reference="l_foot">
    <material>Gazebo/Gray</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
</gazebo>

<!-- Contact Sensor -->
<gazebo reference="lfs_link">
    <material>Gazebo/GreyTransparent</material>
    <mu1>100</mu1> <!-- static -->
    <mu2>100</mu2> <!-- dynamic -->
    <dampingFactor>0.001</dampingFactor>
    <kp>10000000.0</kp> <!-- rigidity (damping) -->
    <kd>1.0</kd> <!-- rigidity (damping) -->
    <minDepth>0.001</minDepth>
    <fdir1>1 1 0</fdir1> <!-- friction direction -->
    <sensor name="lfs_link_sensor" type="contact">
      <always_on>true</always_on>
      <contact>
        <collision>l_foot_fixed_joint_lump__lfs_link_collision_1</collision>
        <!-- IMPORTANT!!!! 
        above name is based on bug in SDF parser, must be this format.
        Figured it out by saving gazebo world as sdf with robot model loaded
        and then reading the collision name -->
      </contact>
      <plugin name="bumper0_plugin" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>lfoot_lfs_state</bumperTopicName>
        <frameName>lfs_link</frameName>
      </plugin>
    </sensor>
</gazebo>

</robot>