<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rev_joint" params="name number type axis_xyz origin_rpy origin_xyz parent child effort velocity damping friction upper lower">
    <joint name="${name}" type="${type}">
      <axis xyz="${axis_xyz}" />
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <limit effort="${effort}" velocity="${velocity}" lower="${lower}" upper="${upper}"/>
      <joint_properties damping="${damping}" friction="${friction}" />
    </joint>

    <transmission name="tran${number}">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${name}">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor${number}">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="frame_joint" params="name type origin_rpy origin_xyz parent child">
    <joint name="${name}" type="${type}">
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="mesh_link" params="name origin_xyz origin_rpy meshfile meshscale size c_xyz matname rgba mass i_xyz i_rpy ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <mesh filename="${meshfile}" scale="${meshscale}"/>
        </geometry>
        <material name="${matname}">
          <color rgba="${rgba}" />
        </material>
      </visual>

      <collision>
        <origin rpy="${origin_rpy}" xyz="${c_xyz}" />
        <geometry>
          <box size="${size}" />
        </geometry>
      </collision>

      <inertial>
        <mass value="${mass}" />
        <origin rpy="${i_rpy}" xyz="${i_xyz}" /> <!-- Inertial Axes -->
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyx="${ixy}" iyy="${iyy}" iyz="${iyz}" izx="${ixz}" izy="${iyz}" izz="${izz}" />
      </inertial>
    </link>
  </xacro:macro>

</robot>