<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rev_joint" params="name type axis_xyz origin_rpy origin_xyz parent child effort velocity damping friction">
    <joint name="${name}" type="${type}">
      <axis xyz="${axis_xyz}" />
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <limit effort="${effort}" velocity="${velocity}" lower="-0.01" upper="0.01"/>
      <joint_properties damping="${damping}" friction="${friction}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="frame_joint" params="name type origin_rpy origin_xyz parent child">
    <joint name="${name}" type="${type}">
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
  </xacro:macro>

  <xacro:macro name="mesh_link" params="name origin_xyz origin_rpy meshfile meshscale size matname rgba mass i_xyz i_rpy ixx ixy ixz iyx iyy iyz izx izy izz">
    <link name="${name}">
      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <mesh filename="${meshfile}" scale="${meshscale}"/>
        </geometry>
        <material name="${matname}">
          <color rgba="${rgba}" />
        </material>
      </visual>

      <collision>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <box size="${size}" />
        </geometry>
      </collision>

      <inertial>
        <mass value="${mass}" />
        <origin rpy="${i_rpy}" xyz="${i_xyz}" /> <!-- Inertial Axes -->
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyx="${iyx}" iyy="${iyy}" iyz="${iyz}" izx="${izx}" izy="${izy}" izz="${izz}" />
      </inertial>
    </link>
  </xacro:macro>

</robot>